*{
    margin: 0px;
    padding: 0px;    
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
}
header{
    background-color: #EAC926;
}

div.top-header{
    display: flex;
    flex-wrap: wrap;
    padding: 5%;
}

header div.top-header p{
    width: 100%;
    text-align: center;
    margin-top: 10px;
}



p{
    font-size: 12px;
    
}

h2{
    font-size: 24px;
    
}

.price{
    font-size: 18px;
   }


.discount,
.description{
    font-size: 16px;
    
}

.description{
    font-size: 16px;
}
