<!DOCTYPE html>
<html lang="en">
<head>
      
 <meta charset="UTF-8"/>
 <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
 <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
 <title>Mercado Liebre</title>
 <link rel="preconnect" href="https://fonts.googleapis">
 <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
 <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel = "stylesheet" >
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
 <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">  
 <link rel="stylesheet" href="/css/fonts.css">  


</head>
<body>
   <header>

     <div class="top-header">
            
            <a href="/"><img src="./assets/images/logo-mercado-liebre.svg" alt="logo-mercado-liebre"></a> 
            <div id="busqueda">
            
        
              <form action="#" method="GET">
               <input placeholder="Buscar productos, marcas y más" type="text" name="user" id="name" data-error="Error">
              </form>
              <i class="fa-solid fa-magnifying-glass"></i>
        </div>
            <p><i class="fa-solid fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
            
     <nav class="navbar">
            <ul>
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>

            <ul>
                <li><a href="/register">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
                <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>

     </nav>

     <div class="burger-menu">
            <i class="fa fa-bars burger"></i>
     </div>
   </header>
    <section class="banner">
        <img src="./assets/images/img-home-banner.jpg" alt="Banner de ofertas">
    </section>

   <main>

        <h2>Basado en tu última visita</h2>
        <img src="./assets/images/img-cafetera-moulinex.jpg" alt="img-cafetera-moulinex" />
        <p>$6.770</p>
        <p>40% OFF</p>
        <p>Cafetera Moulinex</p></b>
        <img src="./assets/images/img-macbook-pro-2019.jpg" alt="img-macbook-pro-2019" />
        <p>$230.000</p>
        <p>20% off</p>
        <p>MacBook Pro 2019</p></b>
        <img src="./assets/images/img-samsung-galaxy-s10.jpg" alt="img-samsung-galaxy-s10" />
        <p>$70.500</p>
        <p>10% off</p>
        <p>Samsung Galaxy S10</p></b>
        <img src="./assets/images/img-tv-samsung-smart.jpg" alt="img-smart-tv" />
        <p>$23.200</p>
        <p>5% off</p>
        <p>SmartTv Samsung 43"</p></b>
 
        <h2>Sección de Ofertas</h2>
        <img src="./assets/images/img-cafetera-moulinex.jpg" alt="img-cafetera-moulinex" />
        <p>$6.770</p>
        <p>40% OFF</p>
        <p>Cafetera Moulinex</p></b>
        <img src="./assets/images/img-macbook-pro-2019.jpg" alt="img-macbook-pro-2019" />
        <p>$230.000</p>
        <p>20% off</p>
        <p>MacBook Pro 2019</p></b>
        <img src="./assets/images/img-samsung-galaxy-s10.jpg" alt="img-samsung-galaxy-s10" />
        <p>$70.500</p>
        <p>10% off</p>
        <p>Samsung Galaxy S10</p></b>
        <img src="./assets/images/img-tv-samsung-smart.jpg" alt="img-smart-tv" />
        <p>$23.200</p>
        <p>5% off</p>
        <p>SmartTv Samsung 43"</p></b>
    </main>

</body>  

    
    <footer>
        <h1>Pagá con tarjeta o en efectivo</h1>
        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!</p>
        <p class="cursive" id="destacado">
        <h1>Envío gratis desde $ 2.500</h1>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
            <p class="cursive" id="destacado">

        <h1>Seguridad, de principio a fin</h1>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
            <p class="cursive" id="destacado">
        
        <h1>Copyright © 1999-2020 MercadoLiebre S.R.L.</h1>

    </footer>

</html>