<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ingresa</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,300&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/css/mobile.css" />
    <link rel="stylesheet" href="/css/tablet.css" />
    <link rel="stylesheet" href="/css/desktop.css" />
  </head>
<body>
    <header>
      <article id="header1">
        <nav id="logo">
          <a href="/">
            <img
              id="mercadoliebre"
              src="/assets/images/logo-mercado-liebre.svg"
              alt="logo-mercado-liebre"
            />
          </a>
        </nav>

        <p id="searchbar">Lugar para poner barra de busqueda</p>
        <p id="holdingdollar">
          <i class="fa-solid fa-hand-holding-dollar"></i>
          compras en cuotas y sin tarjeta de credito
        </p>
      </article>

      <nav class="navylogin">
        <a href="">Ofertas</a>
        <a href="">Tiendas Oficiales</a>
        <a href="">Vender</a>
        <a href="">Ayuda</a>

        <a href="./register.html">
          Crea tu cuenta
          <i class="fa-solid fa-id-card"></i>
        </a>

        <a href="./login.html">
          Ingresa
          <i class="fa-solid fa-arrow-right-to-bracket"></i>
        </a>

        <a href="">
          Mis Compras
          <i class="fa-solid fa-basket-shopping"></i>
        </a>
      </nav>

      <nav class="navbars">
        <i id="bars" class="fa-solid fa-bars"></i>
      </nav>
    </header>
    <main>
        <form action="/" method="get">
            <label for="nombre">Nombre de usuario:</label>
            <input type="text" name="nombre" id="nombre" placeholder="rickAstley1">

            <label for="password">Contraseña:</label>
            <input type="password" name="password" id="password">

            <button action="/">Log in</button>
        </form>
    </main>
</body>
</html>