<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Crea tu cuenta</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,300&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <link rel="stylesheet" href="/css/register-mobile.css" />
    <link rel="stylesheet" href="/css/register-tablet.css" />
    <link rel="stylesheet" href="/css/register-desktop.css" />

    <link rel="stylesheet" href="/css/header-footer/header-mobile.css" />
    <link rel="stylesheet" href="/css/header-footer/header-tablet.css" />
    <link rel="stylesheet" href="/css/header-footer/header-desktop.css" />
    <link rel="stylesheet" href="/css/header-footer/footer-mobile.css" />
    <link rel="stylesheet" href="/css/header-footer/footer-tablet.css" />
    <link rel="stylesheet" href="/css/header-footer/footer-desktop.css" />
  </head>
  <body>
    <header>
      <article id="header1">
        <nav id="logo">
          <a href="/">
            <img
              id="mercadoliebre"
              src="/assets/images/logo-mercado-liebre.svg"
              alt="logo-mercado-liebre"
            />
          </a>
        </nav>

        <form action="/" method="get" id="searchbar">
          <input
            type="text"
            name="search"
            id="search"
            placeholder="Search products..."
          />
          <button type="submit">
            <i class="fa-solid fa-magnifying-glass"></i>
          </button>
        </form>

        <p id="holdingdollar">
          <i class="fa-solid fa-hand-holding-dollar"></i>
          compras en cuotas y sin tarjeta de credito
        </p>
      </article>

      <nav class="navylogin">
        <a href="">Ofertas</a>
        <a href="">Tiendas Oficiales</a>
        <a href="">Vender</a>
        <a href="">Ayuda</a>

        <a href="/register">
          Crea tu cuenta
          <i class="fa-solid fa-id-card"></i>
        </a>

        <a href="/login">
          Ingresa
          <i class="fa-solid fa-arrow-right-to-bracket"></i>
        </a>

        <a href="">
          Mis Compras
          <i class="fa-solid fa-basket-shopping"></i>
        </a>
      </nav>

      <nav class="navbars">
        <i id="bars" class="fa-solid fa-bars"></i>
      </nav>
    </header>
    <main>
      <form action="/" method="post" id="register">
        <fieldset>
          <label for="nombreApellido">Introducir nombre y apellido</label>
          <input
            type="text"
            name="nombreApellido"
            id="nombreApellido"
            placeholder="Rick Astley"
            required
          />
        </fieldset>
        <fieldset>
          <label for="userName">Introducir un nombre de usuario</label>
          <input
            type="text"
            name="userName"
            id="userName"
            placeholder="rickAstley1"
            required
          />
        </fieldset>

        <!--formulario para cargar imagenes-->
        <!--si le ponemos en action / nos devuelve a la pagina del home-->
        <fieldset>
          <label for="doc"><i class="fa-solid fa-image"></i></label>
          <input type="file" name="doc" id="doc" required />

          <!--teniendo en cuenta la fecha de este ano (2022)-->
        </fieldset>
        <fieldset>
          <label for="bDate"></label>
          <input
            type="date"
            name="bDate"
            id="bDate"
            min="01-01-2004"
            required
          />
        </fieldset>

        <fieldset>
          <label for="email">Introducir un email</label>
          <input
            type="email"
            name="email"
            id="email"
            placeholder="rickastley@gmail.com"
            required
          />
        </fieldset>

        <fieldset>
          <label for="password">Introducir una contraseña</label>
          <input
            type="password"
            name="password"
            id="password"
            value="password"
            required
          />
        </fieldset>

        <fieldset>
          <label for="passwordConfirm">Confirmar contraseña</label>
          <input
            type="password"
            name="passwordConfirm"
            id="passwordConfirm"
            value="passwordConfirm"
            required
          />
        </fieldset>

        <fieldset id="userProfile">
          <label id="labelUserProfile">Seleccione un perfil de usuario</label>
          <label for="buyer">
            <input type="radio" name="perfil" id="buyer" value="buyer" />
            Comprador
          </label>
          <label for="seller">
            <input type="radio" name="perfil" id="seller" value="seller" />
            Vendedor
          </label>
        </fieldset>

        <fieldset id="userCategories">
          <label id="labelUserCategories"
            >Seleccione categorias de interes (puede elegir mas de una)</label
          >

          <fieldset>
            <label for="electro">
              <input
                type="checkbox"
                name="category"
                id="electro"
                value="electro"
              />
              Electro
            </label>
          </fieldset>

          <fieldset>
            <label for="moda">
              <input type="checkbox" name="category" id="moda" value="moda" />
              Moda
            </label>
          </fieldset>

          <fieldset>
            <label for="hogar">
              <input type="checkbox" name="category" id="hogar" value="hogar" />
              Hogar
            </label>
          </fieldset>

          <fieldset>
            <label for="jugueteria">
              <input
                type="checkbox"
                name="category"
                id="jugueteria"
                value="jugueteria"
              />
              Juguetería
            </label>
          </fieldset>

          <fieldset>
            <label for="lifeStyle">
              <input
                type="checkbox"
                name="category"
                id="lifeStyle"
                value="lifeStyle"
              />
              Vida
            </label>
          </fieldset>
        </fieldset>

        <fieldset id="buttonsRegister">
          <button type="submit" id="buttonRegister">Registrarse</button>
          <button type="reset" id="buttonRegister">Borrar todo</button>
        </fieldset>
      </form>
    </main>

    <footer>
      <article id="footer-flex">
        <i id="footer" class="fa-solid fa-credit-card"></i>
        <h3 id="footertext">Para con tarjeta o en efectivo</h3>
        <p id="footertext">
          Con MercadoLiebreCash tenes cuotas sin interes con tarjeta o efectivo
          en puntos de pago. Y siempre es seguro!
        </p>
      </article>

      <article id="footer-flex">
        <i id="footer" class="fa-solid fa-gift"></i>
        <h3 id="footertext">Envios Gratis desde los $2500</h3>
        <p id="footertext">
          Solo por estar regustraddo en Mercado Liebre tenes envios gratis en
          miles de productos. Es un beneficio de Mercado Puntos
        </p>
      </article>

      <article id="footer-flex">
        <i id="footer" class="fa-solid fa-user-shield"></i>
        <h3 id="footertext">Seguridad de principio a fin</h3>
        <p id="footertext">
          No te gusta? Devolvelo! En MercadoLiebre no hay nada que no puedas
          hacer porque estas siempre protegid@
        </p>
      </article>

      <h3>Copyright © 1999-2020 MerccadoLiebre S.R.L</h3>
    </footer>
  </body>
</html>
