<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crea tu cuenta</title>
</head>
<body>


    <!--formulario para cargar imagenes-->
    <!--si le ponemos en action / nos devuelve a la pagina del home-->
    <form action="/">
        <fieldset>
            <label for="doc"><i class="fa-solid fa-image"></i></label>
            <input type="file" name="doc" id="doc">
        </fieldset>
    </form>
    
</body>
</html>